// allows us to use initial variables in our override
@import 'sass/utilities/initial-variables.sass';

$scheme-main: $white;
$scheme-invert: $grey-darker;
$scheme-main-bis: $grey-light;

$primary: $grey-darker;

$text: $grey-darker; // normal text
$text-strong: $grey-darker; // header tags
$link: $cyan;
$link-hover: $grey-dark;
$footer-background-color: $grey-dark;
$footer-color: $grey-light;

$footer-padding: 2rem;

$card-shadow: 10px;
$card-radius: 1rem;
$card-content-padding: 1.5rem;
$card-background-color: $grey-light;

$pagination-current-background-color: $primary;
$pagination-color: $link;
$pagination-hover-color: $primary;
//$pagination-disabled-background-color: $grey-light;

@import 'bulma.sass';
