// allows us to use initial variables in our override
@import 'sass/utilities/initial-variables.sass';

$scheme-main: $grey-darker;
$scheme-invert: $white;
$scheme-main-bis: $grey-dark;

$text: $white-ter; // normal text
$text-strong: $red; // header tags
$link: $cyan;
$link-hover: $grey-light;
$footer-background-color: $grey-dark;
$footer-color: $grey-light;

$footer-padding: 2rem;

$card-shadow: 10px;
$card-radius: 1rem;
$card-content-padding: 1.5rem;
$card-background-color: $grey-light;

@import 'bulma.sass';
