{{ define "main" }}

<section class="section">
    <!-- fork for photography/gallery sections, if we have a galleryColumns entry for this section -->
    <div class="container is-two-thirds-tablet is-full-mobile">
        <h1>{{ .Title }}</h1>
    </div>
    {{ $paginator := .Paginate .RegularPagesRecursive }}

    <!-- Pagination nav, duplicated below -->
    {{ $pageIter := .Paginator }}
    {{ if gt $pageIter.TotalPages 1 }}
        <nav class="pagination" role="navigation" aria-label="pagination">
            {{ if $pageIter.HasPrev }}
            <a class="pagination-previous" href="{{ $pageIter.Prev.URL }}">Prev</a>
            {{ end }}
            {{ if $pageIter.HasNext }}
            <a class="pagination-next" href="{{ $pageIter.Next.URL }}">Next</a>
            {{ end }}
            <ul class="pagination-list">
                {{ range $paginator.Pagers }}
                    <li>
                        <a class="pagination-link{{ if eq . $pageIter }} is-current{{ end }}" href="{{ .URL }}" aria-label="Page {{ .PageNumber }}">{{ .PageNumber }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    {{ end }}

    <!-- Switch to image gallery post list if we're in one of the sections we listed in our config, or the first post is. (i.e. tag listing) -->
    {{ $firstPost := index $paginator.Pages 0 }}
    {{ if or (.Site.Params.galleryColumns.Get .Section) (.Site.Params.galleryColumns.Get $firstPost.Section) }}

        {{ $posts := $paginator.Pages }}
        {{ partial "postgallery" (dict "posts" $posts "page" .Page "ctx" .) }}

    {{ else }}

        <!-- fork for regular content sections (predominantly text) -->
        <div class="container">
            {{ range $paginator.Pages }}
                <div class="card m-5">
                    <div class="card-content">
                        <div class="content">
                            <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                            {{ partial "metadata.html" . }}
                            <p>{{ .Summary }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ $pageIter := .Paginator }}
    {{ if gt $pageIter.TotalPages 1 }}
        <nav class="pagination" role="navigation" aria-label="pagination">
            {{ if $pageIter.HasPrev }}
            <a class="pagination-previous" href="{{ $pageIter.Prev.URL }}">Prev</a>
            {{ end }}
            {{ if $pageIter.HasNext }}
            <a class="pagination-next" href="{{ $pageIter.Next.URL }}">Next</a>
            {{ end }}
            <ul class="pagination-list">
                {{ range $paginator.Pagers }}
                    <li>
                        <a class="pagination-link" href="{{ .URL }}" aria-label="Page {{ .PageNumber }}">{{ .PageNumber }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    {{ end }}

</section>

{{ end }}
