{{ define "main" }}

<!-- fork for photography/gallery sections, if we have a galleryColumns entry for this section -->
<section class="section">
    <h1>{{ .Title }}</h1>

    {{ if .Site.Params.galleryColumns.Get .Section }}
    {{ $portfolioScratch := newScratch }}
    {{ $portfolioMobileScratch := newScratch }}
    {{ partial "eternity/columns" (dict  "portfolioScratch" $portfolioScratch "portfolioMobileScratch" $portfolioMobileScratch "posts" .RegularPagesRecursive "columnsCount" (.Site.Params.galleryColumns.Get .Section) "ctx" .) }}

    <section id="desktop" class="section work">
        {{ partial "eternity/slider" (dict "scratch" $portfolioScratch "type" "desktop" "ctx" .) }}
    </section>

    <!-- fork for regular content sections (predominantly text) -->
    {{ else }}
    <div class="container">
        {{ range .RegularPagesRecursive }}
        <div class="card m-5">
            <div class="card-content">
                <div class="content">
                    <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
                    {{ partial "metadata.html" . }}
                    <p>{{ .Summary }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}

</section>
{{ end }}
