{{ define "main" }}
<section>
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-full-mobile">
        <div class="container is-fluid">
            <h1>{{ .Title }}</h1>
            {{ partial "metadata.html" . }}
            <br><br>
            <section class="section">
                {{ .Content }}
                <div class="tags mt-3">
                    {{ with .Params.tags }}
                    {{ range . }}
                    {{ $href := print (absURL "tags/") (urlize .) }}
                    <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">
                        <span class="tag is-rounded p-2 m-1">{{ . }}</span>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
</div>
</section>
{{ end }}
