{{ define "main" }}
<section>
<div class="columns is-centered">
    <div class="column is-three-quarters-tablet is-full-mobile">
        <div class="container is-fluid">
            <section class="section">
                <nav class="level">
                    <div class="title level-item is-3 has-text-primary">{{ .Title }}</div>
                    <div class="level-item">
                    {{ if not .Params.nodate }}
                        {{ partial "metadata.html" . }}
                    {{ end }}
                    </div>
                </nav>
                {{ .Content }}
                <div class="tags mt-3 is-centered">
                    {{ with .Params.tags }}
                    {{ range . }}
                    {{ $href := print (absURL "tags/") (urlize .) }}
                    <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">
                        <span class="tag is-rounded is-link p-2 m-1">{{ . }}</span>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
</div>
</section>
{{ end }}
