{{ define "main" }}

<section class="section">
<div class="container is-two-thirds-tablet is-full-mobile">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="is-size-3 is-centered">{{ .Site.Params.homePage.title }}</div>
            {{ .Content }}
        </div>
    </div>

    {{ if .Site.Params.homePage.latestImagesSection }}
    <div class="is-size-4">Latest Photography</div>
    {{ $posts := where .Site.RegularPages ".Section" .Site.Params.homePage.latestImagesSection }}
    <!-- limit to the most recent posts for the home page -->
    {{ $posts = first 9 $posts }}
    {{ partial "postgallery" (dict "posts" $posts "page" .Page "ctx" .) }}
    {{ end }}


    <!--
    <h3>Latest Portfolio Images<h3>
    {{ if .Site.Params.homePage.mainPageImageTag }}
        {{ $posts2 := where .Site.RegularPages "Params.tags" "intersect" (slice .Site.Params.homePage.mainPageImageTag) }}
        {{ partial "postgallery" (dict "posts" $posts2 "page" .Page "ctx" .) }}
    {{ end }}
    -->
</div>
</section>

{{ end }}
